<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body class="container">

    
  <main>
              <div class="jumbotron">
             <div id="compression"></div>
<div class="container text-center my-3" >
 
      <h1>This page it doesn't exist  </h1>

      <button class="btn btn-warning my-5" onclick="back()">VOLVER</button>
  </div>
</div>

<script>
  function redirect(pagina) {
      location.href = pagina;
  } 
  function back() {
      redirect('/')
  }
</script>

  </main>

  <footer>
      {{>footer}}
  </footer>

</body>
</html>