<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body class="container">

    
  <main>
<div class="container text-center my-3">
  <div class="jumbotron" style="background-color: rgb(255, 25, 0);color: white;">
      <h1> Error Sign</h1> </h1>

      <button class="btn btn-warning my-5" onclick="back()">VOLVER</button>
  </div>
</div>

<script>
  function redirect(pagina) {
      location.href = pagina;
  } 
  function back() {
      redirect('/')
  }
</script>

  </main>

  <footer>
      {{>footer}}
  </footer>

</body>
</html>