<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body class="container">

    
  <main>
      <center>
      <div class="jumbotron">
             <div id="compression"></div>
  <h1>Sesion Cerrada. Hasta luego {{user.lastName}} {{user.firstName}}!</h1></main>
          </div>
</center>
<center>
<h6>Logearse Nuevamente</h6>
  
<form action="/login">
  <div class="form-group">
      <input class="btn btn-success my-3" type="submit" value="Login">
  </div>
 
</form>
</center>
  <footer>
      {{>footer}}
  </footer>

</body>
</html>