<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <main>
    <div class="jumbotron">
           <div id="compression"></div>
<center>

<h1>Aplicacion</h1>


<form action="/login">
<div class="form-group">
    <input class="btn btn-success my-3" type="submit" value="Logearse">
</div>
</form>


<form action="/signUp">
<div class="form-group">
    <input class="btn btn-success my-3" type="submit" value="Registrarse">
</div>
</form>
</center>

</div>
</main>
</body>
</html>
